
.Shop
{
    min-height:100vh;
    color:var(--text-black-900);
    font-family: 'Kanit', sans-serif;
}
.Shop .container
{
    padding-bottom: 40px;
}
.Shop .Shop-heading
{
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom:40px;
}
.Shop .Shop-heading h2
{
    color:var(--text-black-900);
    font-weight: 500;
}
.Shop .container .row{
    justify-content: center;
    align-items: center;
}
.Shop .Shop-grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
}
.Shop .Shop-grid .Shop-item{
    width: 450px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-black-100);
    border-radius: 10px;
    transition: transform 0.5s;
}
.Shop .Shop-grid .Shop-item:hover
{
    transform: scale(1.1, 1.1);
}
.Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-img img{
    width: 450px;
}
.Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-img{
    display: flex;
    justify-content: center;
}
.Shop .Shop-grid .Shop-item p{
    width: 90%;
    height: 200px;
    font-family: 'Kanit', sans-serif;
    cursor:context-menu;
    overflow: auto;
}
.Shop .Shop-grid .Shop-item p::-webkit-scrollbar{
    width: 3px;
}
.Shop .Shop-grid .Shop-item p::-webkit-scrollbar-thumb{
    background-image: linear-gradient(180deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);
    border-radius: 2px;
}
.Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-btn{
    display: flex;
    justify-content: center;
    margin-top:40px;
    align-items: center;
}
.Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-btn button{
    border: none;
    background: none;
}
.Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-btn button a{
    border-radius: 20px;
    padding: 10px 50px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    background-color: rgb(245, 137, 255);
    color:white;
    box-shadow: 0px 0px 8px 7px rgba(255, 149, 223, 0.09);
    transition:box-shadow 0.3s,text-shadow 0.3s;
}
.Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-btn button a:hover{
    box-shadow: 0px 0px 8px 7px rgba(236, 89, 255, 0.36);
    text-shadow: 0px 0px 7px rgba(115, 254, 88, 1);
}
@media (max-width:1476px){
    .home .home-img
    {
        display:none;
    }
    .home .home-info{
        align-items: center;
    }
    .home > .container > .row{
        justify-content: center;
    }
    .Shop .Shop-grid{
        grid-template-columns: 1fr 1fr;
    }
    .Shop .Shop-grid .Shop-item{
        align-items: center;
        width: 500px;
    }
}
@media (max-width:1045px){
    .Shop .Shop-grid{
        grid-template-columns: 1fr;
    }
    .FAQ-items1{
        grid-template-columns: 1fr;
    }
}
@media (max-width:895px){
    .Shop .Shop-grid .Shop-item{
        align-items: center;
    }
}
@media (max-width:767px)
{
    .nav-lists{
        display:none;
    }
    .item-contact{
        grid-template-columns: 1fr 1fr;
    }
    .contact-item:nth-child(7){
        display: none;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        transform: translatey(-150%);
        transition: transform 0.3s;
    }
    #checkbox_toggle:checked ~ .menu{
        transform: translatey(0%);
    }
    .menu > li {
        border-radius: 10px;
        display: flex;
        justify-content: left;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: rgb(255, 255, 255);
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid rgb(175, 175, 175);
    }
    .menu > li > a > i{
        padding-right:20px;
    }
    .menu > li > a{
        font-size: 20px;
        margin-left:50px;
        padding:20px;
        color:black;
    }
}
@media (min-width:767px){
    .navbar .dropdown,.menu,.hamburger,label{
        display: none;
    }
}
@media (max-width:900px){
    .logo h1{
        display:none;
    }
}
@media (max-width:510px){
    .Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-img img{
        width: 200px;
    }
    .shadow-dark{
        box-shadow: none;
    }
    .Shop .Shop-grid .Shop-item .Shop-item-inner .Shop-text{
        width: 300px;
    }
    .Shop .Shop-grid .Shop-item{
        align-items: center;
        width: 300px;
        height: 500px;
    }
    .item-contact{
        grid-template-columns: 1fr;
    }
    .contact-item:nth-child(7){
        display: none;
    }
    .report-items .report-items2{
        flex-direction: column;
        place-items: center;
    }
    .report-items h3{
        display:none;
    }
    .FAQ-items1{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
