@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Kanit', sans-serif;
    background-image: url(../../image/pic/BG-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
.container{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-contant .login{
    width: 400px;
    height:500px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.content #Login-submit{
    margin:auto auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.content #Login-submit p{
    font-size:20px;
}
.content #Login-submit{
    margin:auto auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.content #Signup-submit{
    margin:auto auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.content #Signup-submit p{
    font-size:20px;
}
.header{
    cursor: context-menu;
    margin-bottom:30px;
}
#email-login,#password-login{
    outline: none;
    border: none;
    padding: 5px 2px;
    margin: 20px 5px;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
    position: relative;
}
#email-login::placeholder,#password-login::placeholder{
    font-family: 'Kanit', sans-serif;
}
#email-login:focus,#password-login:focus{
    border-bottom: 1px solid rgb(0, 138, 46);
}
#submit-login{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 40px;
    color: black;
    font-weight: 200;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in
}

#submit-login:hover{
    transform: scale(1.1,1.1);
}
#submit-signup{
    border:none;
    cursor: pointer;
    border-radius:5px;
    margin:20px;
    padding:10px 40px;
    color:black;
    font-weight: 200;
    font-size:15px;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in
}
#submit-signup:hover{
    transform: scale(1.1,1.1);
}
.footer{
    margin-top:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:15px;
}
.footer > div:nth-child(1){
    display:flex;
}
.footer h4{
    color: rgb(58, 58, 58);
    margin-right:2px;
}
.hidden{
    display:none !important;
}
.main-contant .Signup{
    width: 400px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display:none;
}
#username-signup,#email-signup,#password-signup{
    outline: none;
    border:none;
    padding: 5px 2px;
    margin:20px 5px;
    font-size:16px;
    background: transparent;
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
    position:relative;
}
#username-signup::placeholder,#email-signup::placeholder,#password-signup::placeholder{
    font-family: 'Kanit', sans-serif;
}
#username-signup:focus,#email-signup:focus,#password-signup:focus{
    border-bottom: 1px solid rgb(0, 138, 46);
}
@media (max-height: 590px){
    .main-contant .login{
        width: 600px;
        height:400px;
    }
    .content #Login-submit{
        margin:0;
    }
    .content{
        display:grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .main-contant .Signup{
        width: 600px;
        height:400px;
    }
    .content #Signup-submit{
        margin:0;
    }
    .content #Signup-submit p{
        font-size:15px;
    }
    .footer{
        margin-top: 0px;
    }
}